/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html{
    overflow-y:scroll;
    min-height:100%;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

body {
	background-color: #f5f9ea;
  margin: 0;
  font-size: 0.75em;
  transition: background-color 200ms ease-in-out;
}

.complete {
  background-color: #222;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: $primary-b;
  text-shadow: none;
}

::selection {
  background: $primary-b;
  text-shadow: none;
}


/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
  margin: 0.2em 0;
  background: $primary-b;
  color: $primary-d;
  padding: 0.2em 0;
}