<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <title>
        Hohokum - made with Paper.js
    </title>
    <link rel="icon" type="image/png" href="/img/favicon.ico">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui"/>

    {{#if production}}
        <link rel="stylesheet" href="css/style.min.css"/>
    {{else}}
        <link rel="stylesheet" href="css/style.css"/>
    {{/if}}


  </head>

  <body>

          {{> body}}


          
{{#if production}}
    <script src="js/scripts.min.js"></script>
{{else}}
    <script src="js/plugins.js"></script>
    <script src="js/src.js"></script>
    <script src="js/main.js"></script>
{{/if}}


  </body>
</html>
